/* I am importing some Google fonts so I get a font similar to the one in the pdf provided for the exercise */
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400);
.icon

.title {
	font-size: 45px;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;

}

.title2 {
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;

}

.title3 {
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	color: #7d97ad;

}
.container 

.bigpicture{ 
	height: auto;
	max-width:100%
 }

 .projects

.Appify{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
	
}

.Appify_img{
	max-width:100%
	height: auto;

}

.Sunflower{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
}

.Sunflower_img{
	max-width:100%
	height: auto;

}

.Bokeh{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #2d3c49;
	
}

.Bokeh_img{
	max-width:100%
	height: auto;

}


/*If we have a small screen I have set things so .Appify .Sunflower .Bokeh are just one under each other and big picture is reduced at that size*/
/* When the size gets bigger than 361px, so the user has a big screen then each lies next to each other ocuppying 33% of the screen each*/
@media screen and (min-width: 361px){

	.bigpicture{
		width: 
	}
	.appify{
		width:33%;
	}

	.sunflower{
		width: 33%;
	}

	.bokeh{
		width: 33%;
	}

}